<div class="row">
    <div class="col-md-5">
        <app-liste (eventToCv)="recupererCandidatClique($event)"></app-liste>
        <!-- <app-liste (eventToCv)="recupererCandidatClique($event)" [allCandidates]="tabCandidats"></app-liste> -->
    </div>
    <div class="col-md-7">
        @if (selectedCandidat) {
            <app-details [selCandidat]="selectedCandidat"></app-details>
            
        }
        @else {
            <h3>Veuillez sélectionner un candidat...</h3>
        }
    </div>
</div>
<app-recruter></app-recruter>

<!-- 
<button (click)="addNewCandidat()" class="btn btn-outline-primary">Add Candidat</button>
<button (click)="showCandidats()" class="btn btn-outline-primary">afficher candidats depuis CV</button> -->
