<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact : true}" >Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="cv" [routerLinkActiveOptions]="{exact : true}"  >CV</a>
    </li>
    @if (authService.estConnecte()) {
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="cv/add" >Add Candidat</a>
        </li>
        
    }
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="products" >Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="servers" >Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="accounts" >Accounts</a>
    </li>
    @if (!authService.estConnecte()) {

    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="login" >Login</a>
    </li>
}
@else {
    <li class="nav-item">
        <a class="nav-link" (click)="authService.seDeconnecter()" >Logout</a>
      </li>
}
   
  </ul>
