@if (showError) {
    <div class="alert alert-danger">Login et/ou mot de passe invalide(s)</div>  
    
}

<form #f="ngForm">
    <label for="">Login</label>
    <input #inpLogin="ngModel" ngModel required email name="email" type="text" class="form-control">
    @if (inpLogin.invalid && inpLogin.touched) {
        <div class="alert alert-danger">Veuillez saisir une adresse mail</div>  
    }
    
    <label for="">Mot de passe</label>
    <input #pwd="ngModel" required minlength="6" ngModel name="password" type="text" class="form-control">
    
    @if (pwd.invalid && pwd.touched) {
        <div class="alert alert-danger">Le nombre minimal de caractères est 6</div>
    }
    
    <!-- <label for="">Gestion d'erreurs</label>
    <input #exp="ngModel" type="text" ngModel name="errors" class="form-control" required minlength="5" pattern="nidhal"> -->
<!--     
    @if (exp.invalid) {
        @if (exp.errors["required"]) {
            <div class="alert alert-info">Ce champ est obligatoire</div>
        }
        @if (exp.errors["minlength"]) {
            <div class="alert alert-info">Le nombre minimal de caractères est 5</div>
        }
        @if (exp.errors["pattern"]) {
            <div class="alert alert-info">Le pattern est 'nidhal'</div>
        }
    } -->
    
<!--     
    <div #divInfos="ngModelGroup" ngModelGroup="infos">
        <label for="">Langage préféré</label>
        <select name="langage"  [ngModel]="defaultLanguage" class="form-control">
            <option value=""></option>
            <option value="js">Javascript</option>
            <option value="php">Php</option>
            <option value="python">Python</option>
        </select>
        <hr>
        {{ defaultLanguage}}
        <hr>
        
        <textarea [(ngModel)]="myComment" name="commentaire" cols="5" rows="4" class="form-control"></textarea>
        <hr>
        {{ myComment}}
        <hr>
    </div> -->
    <br>
    <div class="col-4 offset-4">
        @if (showRegister) {
            <button [disabled]="f.invalid" (click)="submitHandler(f)" class="btn btn-primary">Register</button>
            <button (click)="toggleShowRegister()" class="btn btn-warning">Switch To Login</button>
            
        }
        @else {
            
            <button [disabled]="f.invalid" (click)="submitHandler(f)" class="btn btn-info">Login</button>
            <button (click)="toggleShowRegister()" class="btn btn-danger">Switch To Register</button>
        }
        
    </div>
  
    <!-- <button (click)="reinitialiserForm(f)" class="btn btn-danger">Reinitialiser</button>
    <button (click)="genererPwd(f)" class="btn btn-info">Generer Mot de passe</button> -->
    
    <pre>
        {{ f.value | json }}
    </pre>
</form>
